/* .page-enter-active, .page-leave-active {
    transition: opacity .5s;
  }
.page-enter, .page-leave-active {
    opacity: 0;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app-content{
    padding-top: 44px;
    height: 100%;
}

.full-content{
  width: 100%;
  height: 100%;
}

.scroll {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.bubble-box {
  position: absolute;
  left: 50%;
  margin-left: -25px;
}

.popup {
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-link {
  width: 80%;
  background: #1296db;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.popup-close {
  width: 80%;
  background: #ccc;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.text-ovh {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-break {
  word-break: break-all;
}

.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-contain {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.better-scroll{
    width: 100%;
    height: 100%;
}
.scroll-wrapper{
  width: 100%;
  min-height: 100.5%;
}

.comment-box{
  padding: 0 15px;
}
.comment-box-title{
  font-size: 18px;
  line-height: 40px;
  color: #333;
  border-bottom: 1px solid #666;
  margin-bottom: 20px;
}